@charset "utf-8";

/* All */
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  line-height: 100px;
  font-size: 56px;
  color: #fff;
  text-align: center;
}
body {
  background-color:pink;
  margin:0;
  width:100vw;
  height:100vh;
  -webkit-text-size-adjust: 100%;
}
h1 {
  margin-right:0.5em;
  margin-left:0.5em;
  font-family: 'Kosugi Maru', sans-serif;
}
h2 {
  margin-right:0.5em;
  margin-left:0.5em;
  font-family: 'Roboto Slab', serif;
}
/* Only .pages */
.pages .loading {
  background-color: #0bd;
}
.pages h1 {
  margin-top:1.5em;
  margin-right:0.5em;
  margin-left:0.5em;
  font-size:1.8em;
}
.pages p {
  margin-right:1.5em;
  margin-left:1.5em;
}
.pages .date-tags {
  margin-right:2em;
  text-align:right;
}
.pages .date-tags span {
  padding:auto 5px;
}
.pages .date-tags .fas {
  color:black;
}
.pages .footer {
  text-align: center;
  padding-bottom:10%;
}
 .pages footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:7%;
  background-color: hotpink;
  opacity:0.7;
  z-index: 5;
}
.pages footer .back-to-previous,.back-to-next,.home-menu,.go-to-top {
  display:flex;
  width: calc((100% - 8em + 20px) / 4);
  margin-top:auto;
  margin-bottom:auto;
  padding-left:10px;
  padding-right:10px;
  text-align: center;
}
.pages footer .back-to-previous-button,.back-to-next-button,.home-menu-button,.go-to-top-button {
  font-size:2em;
}
.pages footer .fas {
  color:olive;
}
.pages footer #fasdisabled .fas {
  color:#dddddd !important;
}
/* Notice */
.pagelink {
  background:#ffffff;
  width: calc(100% - 4px - 8px) ;
  margin-bottom:5px;
  margin-left:4px;
  margin-right:4px;
  border:solid 2px red;
}
.pagelink a {
  color:#0000EE;
  font-size:2em;
  font-family: 'Heebo', sans-serif;
}
/* Links */
.link { 
  color: #ffffff;
  display: inline-block;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  background-color:#3C071B;
  text-decoration: none;
  margin: 1em;
}
.link-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #ffffff;
}
.link-icon i {
  font-size: 25px;
  line-height: 50px;
  transition: .3s;
}
.link-name {
  display: inline-block;
  width: 240px;
  text-align: center;
}
@media screen and (max-width:350px) {
.link {
  display:inline;
  background-color:transparent;
}
.link-icon {
  margin:5px auto;
}
.link-name {
  display: none;
}
}
.link-twitter {
  color:#ffffff;
  background-color:#55acee;
}
.link-instagram {
  color:#ffffff;
  background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
}
.link-youtube {
  color:#ff0000;
  background-color:#ffffff;
}
.link-github {
  color:#000000;
  background-color:#ffffff;
}
.link-tiktok {
  color:#000000;
  background-color:#ffffff;
}
.link-pinterest {
  color:#ff0000;
  background-color:#ffffff;
}
.link-disqus {
  background-color:#ffffff;
}
svg .link-note {
  width:100%;
  height:100%;
}
.link:hover .link-icon i {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
.links {
  display: block;
}
/* footer */
.footer {
  text-align:center;
}
/* Desktop */
@media screen and (min-width:768px) {
.twitter-timeline {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px !important;
  float: right;
}
.scroll {
  display:none;
}
.link {
  float: left;
}
}