<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{goTitle}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="Soratako">
  <meta name="format-detection" content="telephone=no, email=no, address=no">
  <meta name="robots" content="none" />
</head><body><h1>{{goTitle}}</h1><p>{{goMessage}}</p><span class="golink"><a href="{{goToLink}}" rel="noreferrer nofollow noopener external">{{goToLink}}</a></span><br><span class="backlink" style="margin-top:2em;font-size:small;"><a href="{{goBackLink}}" rel="noreferrer nofollow noopener external">戻る</a></span></body></html>